@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@300;400;500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body{
    background-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;

}

li{
    list-style-type: none;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 140px;
    margin-bottom: 5px;
}

header .logo{
    width: 220px;
}

header .logo img{
    width: 100%;
}

header .menu ul{
    display: flex;
}

header .menu ul li{
    padding: 0 15px;
}

header .menu ul li a{
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

header .menu ul li a:hover{
    color: gold;
}

header .header_right{
    display: flex;
    align-items: center;
    padding-right: 40px;
}

header .header_right i{
    font-size: 26px;
    color: black;
    margin-left: 20px;
}

header .header_right .rel{
    position: relative;
}
header .header_right .rel .num{
    position: absolute;
    bottom: 0;
    right: 17px;
    background-color: black;
    color: #FFFFFF;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
}

header .header_right .rel .total{
    position: absolute;
    color: black;
    font-weight: 600;
    top: -8px;
    padding-left: 5px;
}

.banner{
    width: 100%;
    height: 75vh;
    background-image: url('img/Img/banner.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner .banner_txt{
    width: 33%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 3%;
    bottom: -15px;
    margin: auto;
}
.banner .banner_txt p{
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 25px;
    letter-spacing: 2px;
    color: black;
}
.banner .banner_txt h1{
    font-size: 58px;
    line-height: 1.1;
    color: black;
}

.facility{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 20px;
}
.w-70{
    width: 84%;
    margin: auto;
}
.facility .f_item{
    width: 220px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #FFFFFF;
}

.facility .f_item svg{
    position: absolute;

}

.facility .f_item i{
    z-index: 99;
    font-size: 32px;
}

.facility .f_item h3{
    z-index: 99;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.1;
    padding-top: 12px;
}

#shop_category{
    padding-top: 15px;
    padding-bottom: 40px;
}

.heading{
    text-align: center;
}
.heading h3{
    font-size: 27px;
    margin-bottom: 13px;
    color: black;
}
.paw{
    text-align: center;
    position: relative;
    display: block;
    width: 20%;
    margin: auto;
    font-size: 19px;
}
.paw::before{
    content: '';
    width: 100px;
    height: 1px;
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.paw::after{
    content: '';
    width: 100px;
    height: 1px;
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.shop_category .food{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.shop_category .food .food_items{
    width: 49%;
    background-color: #FFFFFF;
    box-shadow: 0 0 16px rgba(0 0 0 / 5%);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.shop_category .food .food_items .img{
    width: 450px;
}
.shop_category .food .food_items .img img{
    width: 100%;
}
.food_details{
    padding-left: 25px;
    padding-top: 15px;
}
.food_details .review{
    padding-left: 25px;
    padding-top: 15px;
}
.food_details .review i{
    color: gold;
}
.food_details .review h4{
    font-size: 18px;
    padding: 10px 0;
}
.food_details .review h3{
    font-size: 17px;
}
.food_details .review p{
    font-size: 15px;
    color: gray;
    line-height: 1.7;
    padding: 16px 0;
    padding-right: 15px;
}
button{
    margin: 15px 0;
    background: gold;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: #FFFFFF;
}

.shop_category .pet_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 50px;
}

.shop_category .pet_list .single_pet{
    width: 20%;
    text-align: center;
}
.single_pet .img{
    width: 100%;
    position: relative;
}
.single_pet .img img{
    width: 98%;
    z-index: 9;
    cursor: pointer;
    transition: 0.5s;
}
.single_pet .img svg{
    position: absolute;
    top: -15px;
    left: -20px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 115%;
    z-index: -9;
}
.single_pet h4{
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
}
.single_pet h4:hover{
    color: gold;
}
.single_pet .img img:hover{
    scale: 1.1;
}

/* segundo banner*/
.second_banner{
    width: 100%;
    height: 70vh;
    background-image: url('img/Img/shopnow_banner.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.second_banner .txt{
    position: absolute;
    width: 30%;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.second_banner .txt h5{
    color: #FFFFFF;
    font-size: 19px;
    font-weight: normal;
    letter-spacing: 1px;
}
.second_banner .txt h2{
    color: #FFFFFF;
    font-size: 54px;
    letter-spacing: 1px;
    padding: 15px 0;
}

/*Produtos recomendados*/

#features_product{
    padding: 70px 0;
}
.feature_product{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    
}
.feature_product .fp_items{
    background-color: #FFFFFF;
    box-shadow: 0 0 16px rgba(0 0 0 / 5%);
    border-radius: 15px;
    overflow: hidden;
    width: 23%;
}
.feature_product .fp_items .img{
    width: 85%;
    height: 160px;
    margin: auto;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    border-radius: 4px;
}
.feature_product .fp_items .img img{
    width: 90%;
    height: 90%;
    transition: 0.4s;

}
.feature_product .fp_items .img img:hover{
    scale: 0.9;
}
.feature_product .fp_items .img .tag{
    position: absolute;
    top: 10px;
    left: -40px;
    width: 50px;
    height: 50px;
    background-color: lightseagreen;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: #FFFFFF;
}
.hidden_icons{
    display: flex;
    flex-direction: column;
    height: 50px;
    position: absolute;
    top: 17px;
    right: -150px;
    transition: 0.5s;
}
.hidden_icons i{
    width: 30px;
    height: 30px;
    padding: 15px;
    background-color: #8080801d;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.feature_product .fp_items .img:hover .hidden_icons{
    right: 0;
}
.hidden_icons i:hover{
    background-color: #80808039;
}
.fp_items .fp_details{
    text-align: center;
    padding-bottom: 30px;
}
.fp_items .fp_details .reviews{
    color: gold;
    font-size: 14px;
}
.fp_items .fp_details .sub_category{
    color: gray;
    font-size: 14px;
    font-weight: lighter;
}
.fp_items .fp_details{ 
    border-top: 1px solid #9696961b;
}
.fp_items .fp_details h6{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0;
}
.fp_items .fp_details .price del{
    font-size: 14px;
}
.fp_items .fp_details .price span{
    font-size: 17px;
}

/*2 banners em uma linha*/
.two_banner{
    display: flex;
    justify-content: space-between;
}
.two_banner .img{
    padding: 28px;
    position: relative;
}
.two_banner .img{
    width: 100%;
}
.two_banner .img .txt{
    position: absolute;
    top: -10px;
    left: 15%;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 100px;
}
.two_banner .img .txt h5{
    font-size: 24px;
    font-weight: lighter;
    padding-bottom: 30px;
}
.two_banner .img .txt h4{
    font-size: 35px;
    line-height: 1.1;
    color: black;
    font-weight: bolder;
}
.two_banner .img:last-child{
    color: #FFFFFF;
}
.two_banner .img:last-child h4{
    color: #FFFFFF;
}

/*Novidades*/

.latest_pro .latest_products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.latest_pro .latest_products .lp_items{
    width: 40%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 16px rgba(0 0 0 / 5%);
    background-color: #FFFFFF;
    display: flex;
    margin: 12px;
    border-radius: 12px;
}
.latest_pro .latest_products .lp_items .img{
    cursor: pointer;
    width: 40%;
    transition: 0.3%;
    position: relative;
}
.latest_pro .latest_products .lp_items .img img{
    width: 100%;
}
.latest_pro .latest_products .lp_items .img .tag{
    width: 27px;
    height: 27px;
    background-color: antiquewhite;
    font-size: 11px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 15px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}